extends ../layouts/dashboard

block content

  ol.breadcrumb
    li: a(href="/dashboard") Dashboard
    li: a(href="/dashboard/#{app.path}") #{app.name}

  div.row

    - for (var i=0; i<modules.length; i++)
      div.col-lg-3
        div.panel
          div.panel-heading
            h4 #{modules[i].name}
          div.panel-body
            ul.list-group
              - for (var j=0; j<modules[i].functions.length; j++)
                  li.list-group-item: a(href="/dashboard/#{app.path}/#{modules[i].functions[j].path}") #{modules[i].functions[j].name}