extends ../layouts/default

block content
  a(href="profiles/new", class="btn btn-success") Crear #{title}
  hr

  legend Lista de #{title}
  table(class="table table-hover")
    thead
      tr
        th ID
        th Nombre
        th Descripción
    tbody
      - for (var i=0; i<profiles.length; i++)
          tr
            td 
              a(href="profiles/#{profiles[i]._id}") #{profiles[i]._id}
            td #{profiles[i].name}
            td #{profiles[i].description}


