extends ../layouts/default

block content

  h2: strong: a(href="/users")= title
  table(class="table table-hover")
      thead
        tr
          th ID
          th Nombre
          th Apellido
          th Perfil
      tbody
          tr
            td #{user._id}
            td #{user.name}
            td #{user.lastname}
            td 
              a(href="profiles/#{user.profile._id}") #{user.profile.name}

  form(method="post", action="users/update")
    fieldset
      legend Actualizar #{title}
      input(type="hidden", value="#{user._id}", name="id")
      div.form-group
        label Nombre
        input(type="text", class="form-control", placeholder="Nombre", name="name", value="#{user.name}")
      div.form-group
        label Apellido
        input(type="text", class="form-control", placeholder="Apellido", name="lastname", value="#{user.lastname}")
      div.form-group
        label Username
        input(type="text", class="form-control", placeholder="Username", name="username", value="#{user.username}")
      div.form-group
        label Password
        input(type="password", class="form-control", placeholder="Password", name="password", value="#{user.password}")
      div.form-group
        label Perfil
        select(class="selectpicker span2", name="profile")
          - for (var i=0; i<profiles.length; i++)
              option(value="#{profiles[i]._id}") #{profiles[i].name}

      button(type="submit", class="btn btn-default") Actualizar