extends ../layouts/default

block content
  a(href="modules/new", class="btn btn-success") Crear #{title}
  hr

  legend Lista de #{title}
  table(class="table table-hover")
    thead
      tr
        th ID
        th Nombre
    tbody
      - for (var i=0; i<modules.length; i++)
          tr
            td 
              a(href="modules/#{modules[i]._id}") #{modules[i]._id}
            td #{modules[i].name}


