extends ../layouts/app

block content

  h2: strong: a(href="app/modules")= title
  table(class="table table-hover")
      thead
        tr
          th ID
          th Nombre
      tbody
          tr
            td #{module._id}
            td #{module.functions.indexOf(functions[0]._id)}

  form(method="post", action="app/modules/update")
    fieldset
      legend Actualizar #{title}
      input(type="hidden", value="#{module._id}", name="id")
      div.form-group
        label Nombre
        input(type="text", class="form-control", placeholder="Nombre", name="name", value="#{module.name}")

      div.form-group
        label Funciones
        br

        - for (var i = 0; i < functions.length; i++ )
          div.checkbox: label
            if (module.functions.indexOf(functions[i]._id) != -1)
              input(type="checkbox", value="#{functions[i]._id}", name="functions[]", checked=true) 
            else 
              input(type="checkbox", value="#{functions[i]._id}", name="functions[]", checked=false) 
            a(href="app/functions/#{functions[i]._id}") #{functions[i].name}

      button(type="submit", class="btn btn-default") Actualizar