extends ../layouts/app

block content
  a(href="app/apps/new", class="btn btn-success") Crear #{title}
  hr

  legend Lista de #{title}
  table(class="table table-hover")
    thead
      tr
        th ID
        th Nombre
        th Descripción
        th Path
    tbody
      - for (var i=0; i<apps.length; i++)
          tr
            td 
              a(href="app/apps/#{apps[i]._id}") #{apps[i]._id}
            td #{apps[i].name}
            td #{apps[i].description}
            td #{apps[i].path}


