extends ../layouts/app

block content

  h2: strong: a(href="app/apps")= title
  table(class="table table-hover")
      thead
        tr
          th ID
          th Nombre
          th Descripci贸n
          th Path
      tbody
          tr
            td #{app._id}
            td #{app.name}
            td #{app.description}
            td #{app.path}

  form(method="post", action="app/apps/update")
    fieldset
      legend Actualizar #{title}
      input(type="hidden", value="#{app._id}", name="id")
      div.form-group
        label Nombre
        input(type="text", class="form-control", placeholder="Nombre", name="name", value="#{app.name}")
      div.form-group
        label Descripci贸n
        input(type="text", class="form-control", placeholder="Descripci贸n", name="description", value="#{app.description}")
      div.form-group
        label Path
        input(type="text", class="form-control", placeholder="Path", name="path", value="#{app.path}")

      div.form-group
        label M贸dulos
        br

        - for (var i = 0; i < modules.length; i++ )
          div.checkbox: label
            if (app.modules.indexOf(modules[i]._id) != -1)
              input(type="checkbox", value="#{modules[i]._id}", name="modules[]", checked=true) 
            else 
              input(type="checkbox", value="#{modules[i]._id}", name="modules[]", checked=false) 
            a(href="app/modules/#{modules[i]._id}") #{modules[i].name}

      button(type="submit", class="btn btn-default") Actualizar